# Java #
*.class
classes/
target/
out/

# Eclipse #
.classpath
.project
.settings
.metadata
bin/

# idea #
*.iml
.idea/
*.iws
*.ipr
.ideaDataSources/

# Package Files #
*.jar
*.war
*.ear
*.tmp
*.bak
*.swp

onclick-admin/\.tern-project
